<body id="page-top" data-spy="scroll" data-target=".wrapper">

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li><img id="close" src="https://s3.amazonaws.com/matthewgyang/images/x.svg" alt="close-menu"/></li>
        <li class="sidebar-brand">
          <h1><a class="page-scroll" href="#page-top">MY</a></h1>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#blog">Blog</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
        <li>
          <hr class="sidebar-hr"/>
        </li>
        <li>
          <a href="/posts">Blog Archive</a>
        </li>
        <li>
          <p>Resume</p>
          <a href="https://s3.amazonaws.com/matthewgyang/resume/Matthew+G.+Yang+-+Resume.pdf" target="_blank">
            <i class="fa fa-chevron-right"> PDF</i>
          </a>
          <a href="https://s3.amazonaws.com/matthewgyang/resume/Matthew+G.+Yang+-+Resume.docx" target="_blank">
            <i class="fa fa-chevron-right"> Doc</i>
          </a>
        </li>
      </ul>
    </div>
    <!-- /sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-fixed-top">
        <div class="container"><a id="menu-toggle"><button id="hamburger" class="btn"><span class="glyphicon glyphicon-menu-hamburger"></span></button></a></div>
      </nav>
      <div class="header-container">
        <video poster="https://s3.amazonaws.com/matthewgyang/images/poster.jpg" autoplay loop>
          <source src="https://s3.amazonaws.com/matthewgyang/videos/header_background_2_opt.mp4" type="video/mp4">
          <source src="https://s3.amazonaws.com/matthewgyang/videos/header_background_2_opt.webm" type="video/webm">
        </video>
        <div class="text text-center">
          <div id="title">
            <h1 class="header">Hi, my name is Matt.</h1>
            <h1 id="sub-header">~</h1>
            <h1 class="header-2">I'm a <span class="typed"></span></h1>
            <a class="page-scroll down-chevron" href="#about"><i class="fa fa-chevron-down fa-3x"></i></a>
          </div>
        </div>
      </div>
      <div id="about" class="section">
        <div class="container about-content text-center">
          <h1>What's this all about?</h1>
          <hr class="style1"/>
          <div class="col-md-4">
            <p><span class="large-letter">T</span>hanks for stopping by!</p>
            <p>My name is Matt and I'm an aspiring web developer making a career change after 10 years in law enforcement. I started out specializing in Ruby on Rails, however I'm also diving into front end frameworks (JavaScript FTW!) and design and loving it!</p>
          </div>
          <div class="col-md-4">
            <img id="fam" src="https://s3.amazonaws.com/matthewgyang/images/fam.jpg" alt="family"/>
          </div>
          <div class="col-md-4">
            <p id="about-right">With the support of my family I've been working during lunch breaks, late nights and weekends to make this new career a reality and I can't wait to put a full-time effort into coding! I'm currently looking for opportunities and advice, feel free to hit me up for any reason! <a href="mailto:matt@matthewgyang.com" target="_blank">matt@matthewgyang.com</a></p>
          </div>
        </div>
      </div>
      <div id="blog" class="section">
        <div class="container text-center">
          <h1>Blog</h1>
          <hr class="style2" />
          <div id="blog-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <% indicators = 0 %>
              <% @posts.length.times do %>

                <% if indicators == 0 %>
                  <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <% else %>
                  <li data-target="#carousel" data-slide-to="<%= indicators %>"></li>
                <% end %>

                <% indicators += 1 %>
              <% end %>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="image-container">
                    <img class="img-responsive" src="<%= @posts[0].pic_url %>" alt="image for post <%= @posts[0].id %>">
                  </div>
                  <div class="carousel-caption">
                    <h1 class="post-link-header"><%= @posts[0].title %></h1>
                    <a class="btn btn-primary read-button" href="/posts/<%= @posts[0].id %>">Read</a>
                  </div>
                </div>
              <% if @posts[1] %>
                <% @posts[1..-1].each do |post| %>
                  <div class="item">
                    <div class="image-container">
                      <img class="img-responsive" src="<%= post.pic_url %>" alt="image for post <%= post.id %>">
                    </div>
                    <div class="carousel-caption">
                      <h1 class="post-link-header"><%= post.title %></h1>
                      <a class="btn btn-primary read-button" href="/posts/<%= post.id %>">Read</a>
                    </div>
                  </div>
                <% end %>
              <% end %>

            <!-- Controls -->
            <a class="left carousel-control" href="#blog-carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#blog-carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <a class="blog-section-footer" href="/posts">Full List of Posts</a>
        </div>
      </div>
    </div>
      <div id="contact" class="section">
        <div class="container text-center">
          <h1 id="contact-header">Get in touch!</h1>
          <hr class="style3" />
          <div class="col-xs-12">
            <div class="col-xs-4">
              <a href="mailto:matt@matthewgyang.com" target="_blank">
                <img class="contact-icon" src="https://s3.amazonaws.com/matthewgyang/images/mail.svg" alt="matt@matthewgyang.com"/>
              </a>
            </div>
            <div class="col-xs-4">
              <a href="https://github.com/yang70" target="_blank">
                <img class="contact-icon" src="https://s3.amazonaws.com/matthewgyang/images/github.svg" alt="GitHub"/>
              </a>
            </div>
            <div class="col-xs-4">
              <a href="https://linkedin.com/in/matthewgyang" target="_blank">
                <img class="contact-icon" src="https://s3.amazonaws.com/matthewgyang/images/linkedin.svg" alt="LinkedIn"/>
              </a>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a href="https://twitter.com/yang70" target="_blank">
                <img class="contact-icon" src="https://s3.amazonaws.com/matthewgyang/images/twitter.svg" alt="Twitter - @yang70" />
              </a>
            </div>
            <div class="col-xs-4 col-xs-offset-2 text-left">
              <a href="http://codepen.io/YangUW" target="_blank">
                <img class="contact-icon" src="https://s3.amazonaws.com/matthewgyang/images/codepen.svg" alt="Code Pen" />
              </a>
            </div>
          </div>
        </div>
      </div>

    <%= render "layouts/footer" %>

    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>

