<body>

  <%= render 'layouts/nav' %>

  <section class="container post-body col-md-8 col-md-offset-2">
    
    <div class="post-container">

      <img class="img-responsive post-header-image" src="<%= @post.pic_url %>" alt="post-header-image"/>
      <h1 class="text-center"><%= @post.title %></h1>
      <p class="text-center"><i><%= @post.created_at.strftime("Published %m-%d-%Y") %></i></p>
      <hr />

      <%= markdown(@post.body) %>

    </div>

    <hr />
    <div class="text-center">
      <a class="post-footer text-center" href="mailto:matt@matthewgyang.com"><i>Tell me what you think!</i></a>
    </div>

  </section>

  <%= render "layouts/footer" %>

</body>
