<h2>Sign up</h2>

<%# <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %1> %>
<%#   <%= devise_error_messages! %1> %>

<%#   <div class="field"> %>
<%#     <%= f.label :email %1><br /> %>
<%#     <%= f.email_field :email, autofocus: true %1> %>
<%#   </div> %>

<%#   <div class="field"> %>
<%#     <%= f.label :password %1> %>
<%#     <% if @minimum_password_length %1> %>
<%#     <em>(<%= @minimum_password_length %1> characters minimum)</em> %>
<%#     <% end %1><br /> %>
<%#     <%= f.password_field :password, autocomplete: "off" %1> %>
<%#   </div> %>

<%#   <div class="field"> %>
<%#     <%= f.label :password_confirmation %1><br /> %>
<%#     <%= f.password_field :password_confirmation, autocomplete: "off" %1> %>
<%#   </div> %>

<%#   <div class="actions"> %>
<%#     <%= f.submit "Sign up" %1> %>
<%#   </div> %>
<%# <% end %1> %>

<%# <%= render "users/shared/links" %1> %>
